:root{
  --primary-color: #0C314D;
  --main-text-color: #323030;
  --footer-text-color: #F3EBEB;
  --neutral-white-color:#FFF;
  --neutral-black-color: #000;
  --neutral-color:  #FEFBFF; 
  
  --font-family: 'Plus Jakarta Sans';
  --font-xsmall : 1rem;
  --font-small: 1.3125rem;
  --font-medium: 1.75rem;
  --font-title : 1.875rem;
  --font-large: 2.5rem;
  --font-xlarge: 3rem;

--font-main-button: var(--font-small);
--font-nv-button: var(--font-xsmall);
--font-heading : var(--font-xlarge);
--font-sub-heading : var(--font-medium);
--font-body: var(--font-small)

}
.bg-primary-color{
  background: var(--primary-color);
}
.text-primary-color{
  color: var(--primary-color)
}
.text-neutral-wh-color{
  color: var(--neutral-white-color)
}
.text-neutral-bk-color{
  color: var(--neutral-black-color)
}
.main-text-color{
  color: var(--main-text-color)
}
.bg-neutral-color{
  background: var(--neutral-color);
}
.text-neutral-color{
  color: var(--neutral-color)
}
.text-main-color{
  color: var(--main-text-color)
}

nav.header-main > div.nav-links{
    display: flex;
    gap: 6.75rem;
  }
  nav.header-main ul{
    list-style: none;
    display:flex;
    gap: 2rem;
  }
  nav.header-main ul li{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav.header-main ul li a{
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
  }
  nav.header-main ul li a{
    transition: transform 0.3s;
  }
  nav.header-main ul li a.active{
    color: var(--primary-color);
    font-weight: 700;
  }
  .nav-button,.nav-button-1{
    display: none;
    cursor: pointer;
  }
  .header-button{
    border: none;
    border-radius: .375rem;
    /* background: #FEFBFF; */
    padding: 10px 20px;
    transition: all ease 0.5s;
  }
  .header-button.bg-neutral-color:hover{
   /* background-color:  var(--primary-color)  */
   background: transparent;
   border: 1px solid #fff;
  }
  .header-button.bg-neutral-color:hover .linkEL{
    color: #fff;
  }
  .header-button.bg-primary-color:hover{
    /* background-color: #fff; */
    background: transparent;
    border: 1px solid var(--primary-color);
  }
  .header-button.bg-primary-color:hover .linkEL{
    color:  var(--primary-color) 
  }
  .header-button a{
    font-size:  16px /*var(--font-xsmall)*/;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
  }
  @media screen and (max-width:1024px){
    .nav-button{
      display: block;
      cursor:pointer;
      width: 3rem;
      height: 3rem;
    }
    .nav-button:hover{
      outline: 1px solid white;
      outline-offset: 5px;
    }
    nav.header-main{
      position: absolute;
      z-index: 5;
      top: 20px;
      right: 0%;
      display: none;
      background: #0C314D;
    }
    nav.header-main.opened{
      /* width:260px;
      opacity: 1; */
      display: block;
      animation: heightIncrease 0.5s ease-in-out  forwards;
    }
    @keyframes heightIncrease {
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }
    nav.header-main > div.logo{
      padding: 36px 20px 12px 17.5008px;
      display: flex;
      justify-content: space-between;
    }
    .nav-button-1{
      display: block;
      height: 3rem;
      width: 3rem;
      align-self: center;
    }
    nav.header-main > div.nav-links{
      background-color: #fff;
      flex-direction: column;
      padding: 42px 64px 28px 51px;
      gap: 32px;
    }
    nav.header-main ul{
      flex-direction: column;
      gap: 40px;
    }
    nav.header-main ul li {
      gap: 18px;
      display: flex;
      justify-content:start; 
      align-items: start;
  }
  nav.header-main ul li a{
    color: #335F79;
  font-size: 14px;
  font-weight: 600;
  }
  .header-button {
    border: none;
    border-radius: 0.375rem;
    padding: .625rem 1.25rem;
    border-radius: 3.178px;
    background: #0C314D;
    transition: all ease 0.5s;
   }
   .header-button:hover{
    border: 1px solid #0C314D;
    background-color: #FFF;
   }
   .header-button:hover .linkEL{
    color: #0C314D;
   } 
  .header-button > a{
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
  }
  /* .header-button > a:hover{
    color: #0C314D;
  } */
  div.socials-container{
    padding-block: 1.1875rem;
    text-align: center;
  }
  div.socials-container > p{
    color: #CEDDE7;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  div.socials-sb{
    display: flex;
    justify-content: center;
    gap:1.125rem;
  }
  }
 